<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = "icon" href ="{% static 'images/logo.png' %}" type = "image/x-icon">
    <meta name="description" content="Official Website of Pletra DevLabs">
    <meta name="author" content="Trishabh Vats, Tamanna Sethia, Sajal Bhardwaj, Asim Tara Pathak, Sibam Kumar">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Pletra DevLabs | Home</title>
<!--
Pletra DevLabs Template
https://templatemo.com/tm-528-Pletra DevLabs
-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/fullpage.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">

    <link rel="stylesheet" href="{% static 'css/animate.css' %}">

    <link rel="stylesheet" href="{% static 'css/templatemo-styles.css' %}">

    <link rel="stylesheet" href="{% static 'css/responsives.css' %}">

    </head>

    <body>

    <div id="video">
        <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <header id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <a href="#slide01" id="logo" title="Pletra DevLabs by TemplateMo">
                        Pletra
                    </a>
                    <div class="navigation-row">
                        <nav id="navigation">
                            <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                            <div class="nav-box navbar-collapse">
                                <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                                    <li data-menuanchor="slide01" class="active"><a href="#slide01">Home</a></li>
                                    <li data-menuanchor="slide02"><a href="#slide02">About</a></li>
                                    <li data-menuanchor="slide03"><a href="#slide03">Services</a></li>
                                    <!-- <li data-menuanchor="slide04"><a href="#slide04">My Skills</a></li> -->
                                    <li data-menuanchor="slide04"><a href="#slide04">Work</a></li>
                                    <li data-menuanchor="slide05"><a href="#slide05">Team</a></li>
                                    <li data-menuanchor="slide06"><a href="#slide06">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <video autoplay muted loop id="myVideo">
          <source src="{% static 'images/video-back.mp4' %}" type="video/mp4">
        </video>

        <div id="fullpage" class="fullpage-default">

            <div class="section animated-row" data-section="slide01">
                <div class="section-inner">
                    <div class="welcome-box">
                        <span class="welcome-first animate" data-animate="fadeInUp">Minting Beyond</span>
                        <h1 class="welcome-title animate" data-animate="fadeInUp">Pletra DevLabs</h1>
                        <p class="animate" data-animate="fadeInUp">Your Complete Business Solutions at One Place</p>
                        <div class="scroll-down next-section animate data-animate="fadeInUp""><img src="{% static 'images/mouse-scroll.png'%}" alt=""><span>Scroll Down</span></div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide02">
                <div class="section-inner">
                    <div class="about-section">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 wide-col-laptop">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="about-contentbox">
                                            <div class="animate" data-animate="fadeInUp">
                                                <span>About Us</span>
                                                <div>
                                      					  <p> Pletra DevLabs is an Information Technology Company. We undertake projects, freelancing and contract of all kinds of websites, Logo Designing, UI/UX Designing, as well as IT Support for your Online Businesses</p>
                                      					  <p>We Pletra DevLabs, assure you quality and efficiency with multiple projects across various domains. Our motto is to provide quality services to our customers and help them to grow their business online. </p>
                                                </div>
                                            </div>
                                            <div class="facts-list owl-carousel">
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-trophy counter-icon" aria-hidden="true"></i><span class="count-number">7</span> Projects Done
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-gratipay counter-icon" aria-hidden="true"></i><span class="count-number">4</span> Satisfied Customers
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-briefcase counter-icon" aria-hidden="true"></i></i><span class="count-number">2</span> Working Years
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-users counter-icon" aria-hidden="true"></i><span class="count-number">6</span> Team Members
                                                    </div>
                                                </div>
                                                <!-- <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-certificate counter-icon" aria-hidden="true"></i><span class="count-number">10</span> Certificates
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                          <figure class="about-img animate" data-animate="fadeInUp"><img src="{% static 'images/11.gif' %}" class="rounded" alt=""></figure>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide03">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Our Services</span>
                                <h2>What We Do</h2>
                            </div>
                            <div class="services-section">
                                <div class="services-list owl-carousel">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-laptop" aria-hidden="true"></i></span>
                                            <h3>Full Stack Website Development</h3>
                                            <p>Front End Development</p>
                                            <p>Full Stack Development</p>
                                            <p>Template Editing</p>
                                            <p>Prototype Designing</p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-object-group" aria-hidden="true"></i></span>
                                            <h3>Infographics Designing And Editing</h3>
                                            <p>Brochures and Portofolios</p>
                                            <p>Flyers and Posters</p>
                                            <p>Business Card</p>
                                            <p>Logo Designing</p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
                                            <h3>Cyber Security Counsultant And Solutions</h3>
                                            <p>Web Apps Checking</p>
                                            <p>Software and apps checking</p>
                                            <p>Security training sessions</p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
                                            <h3>Video and Media Designing And Editing</h3>
                                            <p>Voiceovers</p>
                                            <p>Teasers</p>
                                            <p>Trailers</p>
                                            <p>Logo Reveals</p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                                            <h3>Software Design And Development</h3>
                                            <p>Template Designing</p>
                                            <p>UI Designing</p>
                                            <p>College Assignments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="section animated-row" data-section="slide04">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-7 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>My Skills</span>
                                <h2>What i’m good?</h2>
                            </div>
                            <div class="skills-row animate" data-animate="fadeInDown">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <div class="skill-item">
                                            <h6>HTML CSS</h6>
                                            <div class="skill-bar">
                                                <span>70%</span>
                                                <div class="filled-bar"></div>
                                            </div>
                                        </div>
                                        <div class="skill-item">
                                            <h6>PSD Design</h6>
                                            <div class="skill-bar">
                                                <span>90%</span>
                                                <div class="filled-bar-2"></div>
                                            </div>
                                        </div>
                                        <div class="skill-item">
                                            <h6>Social Media</h6>
                                            <div class="skill-bar">
                                                <span>70%</span>
                                                <div class="filled-bar"></div>
                                            </div>
                                        </div>
                                        <div class="skill-item last-skill">
                                            <h6>Leadership</h6>
                                            <div class="skill-bar">
                                                <span>90%</span>
                                                <div class="filled-bar-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="section animated-row" data-section="slide06">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Our Work</span>
                                <h2>What we’ve done?</h2>
                            </div>
                            <div class="gallery-section">
                                <div class="gallery-list owl-carousel">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="{% static 'images/1.png' %}" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>Inchmark Decorators</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="{% static 'images/4.png' %}" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>Chitwan Jagga</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="{% static 'images/3.png' %}" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>The Blog Boy</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="{% static 'images/2.png' %}" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>Lucid Expositions</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="{% static 'images/15.png' %}" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>SASAV</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="images/item-2.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download Bootstrap CSS templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="images/item-3.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="images/item-1.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="images/item-2.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="images/item-3.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide05">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>TEAM</span>
                                <!--<h2>what THEY SAY?</h2>-->
                            </div>
                            <div class="col-md-8 offset-md-2">
                                <div class="testimonials-section">
                                    <div class="testimonials-slider owl-carousel">
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="{% static 'images/5.png' %}" class="rounded-circle" alt="profile 1">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>Sajal Bhardwaj</h4>
                                                    <p>Founder, Senior Designer and Front-end developer, responsible for complete Front-End development along with the front-end team. Also designs Infographics and video content.</p>
                                                    <span>Front End Developer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="{% static 'images/7.png' %}" class="rounded-circle" alt="profile 1">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>Trishabh Vats</h4>
                                                    <p>Founder, Full Stack Developer, Mobile Application Developer, overlook's front end and handles entire backend using django framework. Aspiring Developer</p>
                                                    <span>Full Stack Developer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="{% static 'images/6.png' %}" class="rounded-circle" alt="profile 1">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>Asim Tara Pathak</h4>
                                                    <p>Founder, Information Security Manager, and Front-end developer,  responsible for complete Front-End development along with the front-end team. </p>
                                                    <span>Front End Developer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="{% static 'images/8.png' %}" class="rounded-circle" alt="profile 1">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>A.K Deepankar</h4>
                                                    <p>Co-Founder, Social Media Manager. Public Relations Manager and Head.</p>
                                                    <span>Front End Developer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="{% static 'images/9.png' %}" class="rounded-circle" alt="profile 2">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>Tamanna Sethia</h4>
                                                    <p>Head of Ideation and Innovation, and Front-end developer,  responsible for complete Front-End development along with the front-end team. </p>
                                                    <span>Front End Developer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="{% static 'images/10.png' %}" class="rounded-circle" alt="profile 3">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>Sibam Kumar</h4>
                                                    <p>Front-end Developer. responsible for complete Front-End development along with the front-end team.</p>
                                                    <span>Front End Developer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="hatana">
              <div class="section animated-row" data-section="slide07">
                  <div class="section-inner">
                      <div class="row justify-content-center">
                          <div class="col-md-12 wide-col-laptop">
                              <div class="title-block animate" data-animate="fadeInUp">
                                  <span>Contact</span>
                                  <h2>Get In Touch!</h2>
                              </div>
                              <div class="contact-section">
                                  <div class="row">
                                      <div class="col-md-6 animate" data-animate="fadeInUp">
                                          <div class="contact-box">
                                              <div class="contact-row">
                                                  <i class="fa fa-map-marker"></i> #88,89 Ittina Nagar, Jigani, Bangalore-560105, KA-IN.
                                              </div>
                                              <div class="contact-row">
                                                  <i class="fa fa-phone"></i> +91 8660084926
                                              </div>
                                              <div class="contact-row">
                                                  <i class="fa fa-envelope"></i> satadevlabsofficial@gmail.com
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-6 animate" data-animate="fadeInUp">

                                          <form id="ajax-contact" method="post" action="#">
                                            {% csrf_token %}
                                              <div class="input-field">
                                                  <input type="text" class="form-control" name="name" id="name" required placeholder="Name">
                                              </div>
                                              <div class="input-field">
                                                  <input type="email" class="form-control" name="email" id="email" required placeholder="Email">
                                              </div>
                                              <div class="input-field">
                                                  <textarea class="form-control" name="message" id="message" required placeholder="Message"></textarea>
                                              </div>
                                              <button class="btn" type="submit">Submit</button>
                                          </form>
                                          <div id="form-messages" class="mt-3"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

        </div>
      </div>
        <div id="social-icons">
            <div class="text-right">
                <ul class="social-icons">
                    <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li> -->
                    <li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>


    <script src="{% static 'js/jquery.js' %}"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/fullpage.min.js' %}"></script>

    <script src="{% static 'js/scrolloverflow.js' %}"></script>

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'js/jquery.inview.min.js' %}"></script>

    <script src="{% static 'js/form.js' %}"></script>

    <script src="{% static 'js/custom.js' %}"></script>


  </body>
</html>
